body{
    font-family: century gothic;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.bg{
    background-image: url(school.jpg);
    position: absolute;
    background-position: center;
    opacity: 0.3;
    height: 165em;
    width: 100%;
    background-size: cover; 
    z-index: -1;
    top: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    background-color: navy;
    width: 80.1em;
    height: 80px;
    display: flex;
}
.aisatlogo{
    height: 90%;
    left: 15px;
    position: relative;
    top: 3.5px;
    border-radius: 50%;
    filter: invert(100);
    display: inline-block;
}
h1{
    position: relative;
    left: 30px;
    display: inline-block;
    top: -14px;
    color: rgb(255, 191, 94);
    letter-spacing: 2.2px;

}
p1{
    display:inline-block;
    font-weight: bold;
    color: rgb(255, 191, 94);
    left: 36px;
    position: relative;
    top: 26px;
    font-size: 12px;
    letter-spacing: 1px;
}
hr{
    height: 5px;
    width: 5.1em;
    position: absolute;
    background-color: rgb(223, 142, 20);
    border: none;
    top: 19px;
}
p2{
    position: absolute;
    font-weight: bold;
    color: white;
    left: 7.8em;
    top: 4em;
    font-size: 0.8em;
}
p3{
    position: absolute;
    font-weight: bold;
    color: rgb(255, 191, 94);
    left: 14.5em;
    top: 4em;
    font-size: 0.8em;
}
.pattern{
    position: relative;
    left: 60px;
    z-index: 1;
}
.school{
    left: 35px;
    position:relative;
    opacity: 0.3;
}
.school1{
    opacity: 0.3;
    position:relative;
    left: 35px;
}
.mySlides{
    display: none;
}
img{
    vertical-align: middle;
}
.slideshow-container{
    max-width: 80%;
    max-height: 80px;
    position: relative;
    left: 11%;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.box{
    position: relative;
    height: 70px;
    width: 100%;
    top: 35.8em;
    width: 100%;
    border: solid navy;
    background-color: navy;
    margin: 0;
    align-items: center;
}
.box h2{
    color: white;
    font-size: 3.5em;
    top: -0.8em;
    left: 5em;
    position: relative;
    letter-spacing: 3px;
}
.contain{
    display: flex;
    position: relative;
}
.contain1{
    border: 2px solid rgb(255,255,255,0.37);
    width: 70em;
    height: 110em;
    position: relative;
    background-color: rgba(255, 255, 255, 0.53);
    margin: auto;
    top: 35.8em;
    backdrop-filter: blur(1px);
}
.contain2{
    position: relative;
}
.contain2 h3{
    position: relative;
    font-size: 2em;
    left: 3%;
}
.contain2 p1{
    left: 3%;
    position: relative;
    color: black;
    top: -1%;
    font-size: 1em;
    font-weight: lighter;
}
.contain3{
    position: relative;
    top: -2%;
}
.contain3 p2{
    left: 5%;
    color: navy;
    font-size: 1em;
    position: relative;
}
.contain4{
    position: relative;
    top: 5em;
    left: 5%;
}
input[type="radio"]{
    display: none;
}
.new1 label{
    position: relative;
    border: 1px solid rgba(0, 0, 128, 0.454);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    display: flex;
    width: 25%;
    align-items: center;
    
}
.new1 label:before{
    content:"";
    border: 2px rgba(0, 0, 128, 0.454);
    border-radius: 50%;
    margin-right: 10%;
    height: 7px;
    width: 7px;
    margin-top:4px;
}
.new1 input[type="radio"]:checked + label{
    background-color: rgba(0, 0, 128, 0.863);
    color: white;
}
.custom-select {
    position:relative;
    left: 30em;
    top:-8.2em;
    min-width: 20px;
}
      
.custom-select select{
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 20em;

  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(0.8em + 2px),
      calc(100% - 15px) calc(0.8em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}
  
select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.course-select select{
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;

  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.course-select{
    position:relative;
    left: 30em;
    top:-7.4em;
}
  
select.course1 {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(0.8em + 2px),
      calc(100% - 15px) calc(0.8em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}
  
select.course1:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.SI{
    position: relative;
    height: 11.6em;
    width: 61.5em;
    border: 2px solid  rgb(255, 191, 94);
    top: -4em;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: sans-serif;
}
.icons{
  color: navy;
  font-size: 1em;
  font-weight: bold;
}
.icons p{
  position: absolute;
  top: -0.8em;
  left: 2.2em;
}
.SI1{
  color: navy;
  padding-top: 15px;
}
.SI1 .fn{
  display: inline-block;
  padding-right: 30px;
  padding-left: 45px;
  padding-bottom: 25px;
}
.SI1 .mn{
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 25px;
}
.SI1 .mn input[type="text"]{
    position: relative;
    left: 0.4em;
}
.SI1 .ln{
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 25px;
}
.SI1 .sn{
  display: inline-block;
  padding-right: 30px;
  padding-left: 45px;
  padding-bottom: 15px;
}
.gender{
    position: relative;
    padding-left: 21.4em;
    top: -3.3em;
}
.gender select{
    position: relative;
    left: 2.8em;
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 13.3em;

  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.gender1 {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 15.5px) calc(0.8em + 2px),
      calc(100% - 10px) calc(0.8em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}
  
select.gender1:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 10px) 1em,
      calc(100% - 15.7px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.CS{
    position: relative;
    top: -5em;
    left: 40.6em;
}
.CS select{
    position: relative;
    left: 2.2em;
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 13.3em;
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.CS1 {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 15px) calc(0.8em + 2px),
      calc(100% - 10px) calc(0.8em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}
  
select.CS1:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 10px) 1em,
      calc(100% - 15.7px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.citzen{
    position: relative;
    top: -3.5em;
    padding-left: 45px;
}
.DOB{
    position: relative;
    top: -4.81em;
    padding-left: 21.4em;
}
.religion{
    position: relative;
    top: -6.1em;
    left: 40.6em;
}
.religion input[type="text"]{
    position: relative;
    left: 1.5em;
}
.address{
    position: relative;
    height: 14em;
    width: 61.5em;
    border: 2px solid  rgb(255, 191, 94);
    top: -2em;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: sans-serif;
}
.address1{
    color: navy;
    padding-top: 15px;
}
.SU{
  display: inline-block;
  padding-right: 15px;
  padding-left: 45px;
  padding-bottom: 25px; 
}
.SU input[type="text"]{
    position:relative;
    left: 5.6em;
}
.street{
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
    left: 8em;
}
.street input[type="text"]  {
    position: relative;
    left: 1.4em;
}                                                                
.sub{
    padding-left: 45px;
}
.BGY{
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
    left: 30.5em;
    top: -1.34em;
}
.city{
    position: relative;
    top: -1.35em;
    padding-left: 45px;
}
.city input[type="text"]{
    position: relative;
    left: 4.6em;
}
.prov{
    position: relative;
    left: 30.5em;
    top: -2.69em;
}    
.prov input[type="text"]{
    position: relative;
    left: 0.4em;
}
.zip{
    position: relative;
    top: -1em;
    padding-left: 45px;
}
.zip input[type="text"]{
    position: relative;
    left: 9.5em;
}
.contact{
    position: relative;
    height: 8.3em;
    width: 61.5em;
    border: 2px solid  rgb(255, 191, 94);
    top: 0.5em;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: sans-serif;
}
.contact1{
    color: navy;
    padding-top: 15px;
}
.tele{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.tele input[type="text"]{
    position: relative;
    left: 0.75em;
}
.mob{
    position: relative;
    display: inline-block;
    left: 9.1em;
}
.email{
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.PGINFO{
    position: relative;
    height: 11.5em;
    width: 61.5em;
    border: 2px solid  rgb(255, 191, 94);
    top: 3em;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: sans-serif;
}
.guard{
    color: navy;
    padding-top: 15px;
}
.gfn{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.gln{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 25px;
    left: 1em;
    position: relative;
}
.gmi{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 25px;
    left: 1em;
    position: relative;
}
.gmi input[type="text"]{
    position: relative;
    left: 1.5em;
}
.gs{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.gs input[type="text"]{
    position: relative;
    left: 3.6em;
}
.gmob{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 25px;
    left: 4em;
    position: relative;
}
.gmob input[type="text"]{
    position: relative;
    left: 0.4em;
}
.gemail{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 25px;
    left: 4.4em;
    position: relative;
}
.goccup{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.goccup input[type="text"]{
    position: relative;
    left: 0.5em;
}
.grel{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 25px;
    left: 1.4em;
    position: relative;
}
.grel input[type="text"]{
    position: relative;
    left: 0.1em;
}
.COLS{
    position: relative;
    height: 15em;
    width: 61.5em;
    border: 2px solid  rgb(255, 191, 94);
    top: 6em;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: sans-serif;
}
.COLS1{
    color: navy;
    padding-top: 15px;
}
.schtype{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.schtype select{
    position: relative;
    left: 4em;
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 48em;

  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.schtype1 {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 15.5px) calc(0.8em + 2px),
      calc(100% - 10px) calc(0.8em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}
  
select.schtype1:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 10.5px) 1em,
      calc(100% - 15.7px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.NOS{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.NOS input[type="text"]{
    position: relative;
    left: 2.2em;
    width: 46em;
}
.PTS{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.DOG{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 25px;
    left: 5.3em;
    position: relative;
}
.YLG{
    display: inline-block;
    padding-right: 15px;
    padding-left: 45px;
    padding-bottom: 25px; 
}
.YLG select{
    position: relative;
    left: 0.2em;
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 48em;

  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.YLG1 {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 15.5px) calc(0.8em + 2px),
      calc(100% - 10px) calc(0.8em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}
  
select.YLG1:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 10.5px) 1em,
      calc(100% - 15.7px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
.subbtn ul li{
    list-style: none;
    position: relative;
    top: 17em;
    left: 55em;
}
.subbtn ul li a button{
    text-decoration: none;
    appearance: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 50px;
    width: 90px;
    font-size: 1em;
    border: 2px solid navy;
    color: white;
    background-color: navy;
    cursor: pointer;
}
.bg1{
    background-image: url(school.jpg);
    position: absolute;
    background-position: center;
    opacity: 0.2;
    height: 37.7em;
    width: 100%;
    background-size: cover; 
    z-index: -1;
    top: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.hope h3{
    position: relative;
    color: Navy;
    font-size: 3em;
    font-family: century gothic;
    font-weight: bold;
    left: 5%;
    display: inline-block;
}
.hope h4{
    display: inline-block;
    position: relative;
    top: -1.5em;
    color:  rgb(255, 191, 94);
}
.hope p{
    position: relative;
    top: -11em;
    left: 5%;
    color:rgba(0, 0, 0, 0.71);
    font-family: sans-serif;
    word-spacing: 1px;
}
.subbtn1 ul li{
    list-style: none;
    position: relative;
    top: 1em;
    left: 60em;
}
.subbtn1 ul li a button{
    text-decoration: none;
    appearance: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    font-size: 1em;
    border: 2px solid navy;
    color: white;
    background-color: navy;
    cursor: pointer;
}